.bookWrapper{
    width: 800px;
    margin: auto;
}
.aBox{
    width: 800px;
    height: 50px;
    margin-top: 50px;
    padding-right: 30px;
}
.aBox li{
    float: right;
    margin: 0px 10px;
}
.aBox li a{
    text-decoration: none;
    color: black;
}
.aBox li a:hover{
    color: #3CAE76;
    text-decoration: underline;
}

.contentBox{
    width: 700px;
    margin: auto;
}

.selectCategory{
    width: 550px;
    height: 50px;
    margin: 30px auto;
}
#categorySelect{
    margin-top: 10px;
    height: 35px;
}
#keyword{
    width: 250px;
    height: 35px;
    margin: 5px 0px 0px 20px;
}
#searchBtn{
    width: 100px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;
}
#searchBtn:hover{
    border: 2px solid #3CAE76;
    color: #3CAE76;
}

.orderByBox{
    width: 700px;
    height: 30px;
}
#orderByBtn{
    border: none;
    background-color: white;
    font-size: 18px;
    float: right;
}
#orderByBtn:hover{
    color: #3CAE76;
    text-decoration: underline;
}


.tableBox{
    width: 100%;
}
.tableBox tr{
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}
.tableBox td{
    padding: 10px;
}
#bookImg {
    width : 100px;
}
#editBtn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
#editBtn:hover{
    border: 2px solid #3CAE76;
    color: #3CAE76;
}
#cancelBtn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
#cancelBtn:hover{
    border: 2px solid #3CAE76;
    color: #3CAE76;
}