/* 전체 레이아웃 */
.detailedBookContainer{
    width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: repeat(2, minmax(400px, auto));
}
.imgBox{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.orderBox{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}
.menuBox{
    grid-column: 1/3;
    grid-row: 2/3;
}

/* In ImgBox */
#bookImg{
    width: 300px;
}

/* In orderBox */
.star{
    font-size: 18px;
}
.basicInfoBox {
    text-align: right;
    padding: 10px;
}
.basicInfoTitle{
    font-size: 14px;
    color: #595959;
}
.basicInfo{
    font-size: 18px;
    color: #595959;
}
.price{
    font-size: 24px;
    color : crimson;
}
.pricePoint{
    font-weight: bold;
    font-size: 28px;
}
.originalPrice{
    font-size: 20px;
    text-decoration: line-through;
}
#line{
    border-bottom: 2px solid black;
    margin: 10px 0px;
}
.imgStrBox{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}
.imgStrBox > img{
    margin-right: 5px;
}
.priceBox{
    margin: 10px 0px;
    text-align: right;
    padding: 10px;
}
.btnBox{
    margin: 10px 10px;
    text-align: right;
}
.orderBtn{
    display: inline-block;
    width: 280px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
.orderBtn:hover{
    border: 2px solid #3CAE76;
    color: #3CAE76;
}
.likeBtn{
    all: unset;
    width: 55px;
    height: 55px;
    margin: 0px 10px;
    cursor: pointer;
}

/* In menuBox */
/* 메뉴 탭 */
.menu {
    list-style-type: none;
}
.menu > .tabLink {
    display: inline-block;
    width: 130px;
    height: 60px;
    padding: 20px 20px 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.menu > .tabLink a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}
.menu > .tabLink a:hover{
    text-decoration: underline;
    font-weight: 700;
    color: #3CAE76;
}
.menu .tabLink.current {
    border-bottom: 3px solid #3CAE76;
}
.tabContent{
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}
.tabContent.current{
    display: inherit;
}

/* 상세 정보 */
.infoBox{
    margin: 20px auto;
    width: 700px;
    padding: 20px 40px;
    background-color: #e0eeee;
    border-radius: 5px;
}
.contentsBox{
    margin: 30px;
    padding: 30px;
}
#contentsTitle{
    font-size: 24px;
    font-weight: 700;
}
#contents{
    font-size: 18px;
    margin-top: 10px;
}

/* 리뷰 */
.reviewBox{
    width: 700px;
    margin: 10px auto;
}
.reviews{
    background-color: #e0eeee;
    border-radius: 3px;
    margin: 5px;
    padding: 15px 20px;
}
.imgStrBoxInReview{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.review{
    font-size: 20px;
}
.reviewDate{
    font-size: 14px;
    color: #595959;
    margin-top: 5px;
}