/* 회원가입 */
.regiBox {
    width: 60%;
    height: 550px;
    margin: 50px auto 50px auto;
    padding-top: 30px;
    border: solid 1px #3CAE76;
    border-radius: 3px;
}
.regiBox .titleBox {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}
.regiBox .outerInputBox{
    width: 100%;
    height: 80%;
    margin: 30px auto 0px auto;
}
.regiBox .innerInputBox{
    display: flex;
    margin: 10px 0;
    text-align: left;
    justify-content: center;
}
div.innerInputBoxSpecial{
    display: flex;
    height: 45px;
    text-align: left;
    justify-content: center;
}
div.innerId{
    width: calc(100%/4);
    float: left;
    text-align: right;
}
div.innerText {
    width: calc(100% / 2);
    float: left;
}
div.innerPasswordText{
    width: calc(100%/2);
    float: left;
}
.regiBox .buttonBox{
    width: 200px;
    margin: 20px auto 50px auto;
}
.regiBox.titleBox.outerInputBox.myForm{
    width: 100%;
}
#idcheck{
    width: 40%;
}
/* 아이디 & 비밀번호 찾기 */
.findBox {
    width: 350px;
    min-height: 300px;
    margin: 50px auto 50px auto;
    padding-top: 30px;
    border: solid 1px #3CAE76;
    border-radius: 3px;
}
.findBox .titleBox {
    width: 120px;
    margin: 10px auto 30px auto;
}

.titleBox h1 {
    width: 90%;
    text-align: center;
}

.findBox .titleBoxForPw {
    width: 140px;
    margin: 30px auto;
}
.findBox .outerInputBox {
    width: 210px;
    height: 100px;
    margin: auto;
}
.findBox .innerInputBox {
    margin-bottom: 10px;
    float: right;
}
#confirmPwd.inputs{
    width: 185px;
}
#password.inputs{
    width: 185px;
}
.findBox .inputs {
    height: 30px;
}
.findBox .buttonBox {
    width: 200px;
    height: 40px;
    margin: 20px auto 0px auto;
}

/* 공통 css */
label {
    font-size: 16px;
}
.btn {
    width: 90px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}
.submitBtn {
    background-color: #3CAE76;
    border: none;
    color: white;
    width: 79px;
}
.cancelBtn {
    background-color: #595959;
    border: none;
    color: white;
    float: right;
}
.submitBtn:hover {
    border: solid 1px #3CAE76;
    background-color: white;
    color: #3CAE76;
}
.cancelBtn:hover {
    border: solid 1px #595959;
    background-color: white;
    color: #595959;
}