.updateContainer{
    margin-bottom: 100px;
}

.titleBox {
    margin: 50px auto 30px;
    width: 70%;
    height: 50px;
    text-align: center;
    font-size: 24px;
}
.lineBox{
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #bbbbbb;
}

.user.input{
    border-left: 1px solid #3CAE76;
}
.userinfo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.user {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

.blank {
    width: 100px;
    height: 40px;
}

.infoinput {
    width: 300px;
    height: 40px;
    margin: 10px;
}

.text {
    margin-top: 25px;
    padding: 0;
    width: 160px;
}

.updateBtn {
    margin-top: 30px;
}

.cancelBtn {
    width: 100px;
    height: 40px;
    margin: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.cancelBtn:hover {
    border: 2px solid #3CAE76;
    color: #3CAE76;
}

.confirmBtn:hover {
    border: 2px solid #3CAE76;
    color: #3CAE76;
}

.confirmBtn {
    width: 100px;
    height: 40px;
    margin: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}