
.redbox {
    margin: 10px auto;
    border: 1px solid #3CAE76;
    color: #3CAE76;
    width: 70%;
    height: 30px;
    padding: 10px;
    text-align: center;
}
.user.input{
    border-left: 1px solid #3CAE76;
}
.userinfo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.user {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

.blank {
    width: 100px;
    height: 40px;
}

.infoinput {
    width: 300px;
    height: 40px;
    margin: 10px;
}

.text {
    margin-top: 25px;
    padding: 0;
}

.updateBtn {
    margin-top: 30px;
}

.cancelBtn {
    background-color: #595959;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: #ffffff;
    color: #595959;
    border: 1px solid #595959;
    border-radius: 5px;
}

.confirmBtn:hover {
    background-color: #ffffff;
    color: #3CAE76;
    border: 1px solid #3CAE76;
    border-radius: 5px;
}

.confirmBtn {
    background-color: #3CAE76;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}